

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.navbar{
    background-color: rgb(128, 221, 238);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

a{
    text-decoration: none;
    color: black;
}


}