* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 90%;
    margin: auto;
    margin-top: 3.2rem;

    /* height: 100vh; */
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}



.left-right-content {
    display: flex;
    margin-top: 30px;

}



.top-content {
    margin-top: 10px;
    margin-bottom: 10px;

}



.select-preference-container {
    display: grid;
    /* border: 1px solid darkmagenta; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    padding: 20px;

}

.select-preference-btns>button {
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;

}

.select-preference-btns>button:hover {

    border-color: rgb(16, 16, 16);
}



.vl {
    border-left: 2px dashed rgb(16, 16, 16);
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 80px;
}

.heading {
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    color: rgb(36, 36, 36);
    font-weight: 500;
    /* font-family: Agrandir, Verdana, Geneva, sans-serif; */
}

.top-content>#preference-para {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #676767;

}

/* right-content */
.right-content {
    /* border: 1px solid red; */
    width: 50%;
    text-align: center;

}

.heading-div {
    margin-top: 10px;
}

.heading-div>h1 {
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    color: rgb(36, 36, 36);
    font-weight: 500;


}

.customize-container {
    padding: 20px;
    /* border: 1px solid red; */
}


.custDiv {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.custDiv>span {
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;

}

.people-btns>button {
    width: 7.9rem;
    padding: 5px;
    border-radius: 4px;
    height: 35px;


    border-width: 1px;
    transition: left 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
    font-weight: bold;
    margin-left: -1px;

}

.btns>button {
    width: 3.2rem;
    padding: 5px;
    border-radius: 4px;
    height: 35px;
    border-width: 1px;
    transition: left 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
    font-weight: bold;
    margin-left: -1px;
}

.preference-not-selected>p {
    color: rgb(118, 118, 118);
    font-size: 16px;
    font-weight: 700;

    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;

}

.total {
    border: 1px solid rgba(100, 100, 111, 0.2);
    width: 70%;
    margin: auto;
    border-radius: 3px;
    padding: 10px;

}

.both {
    /* text-align: left; */
    line-height: 40px;
}

.description {
    font-size: 20px;
}


/* MEDIA QUERY */

/* Media Query for small devices (phones, 600px and down) */

@media only screen and (max-width: 400px) {
    .item-container {
        max-width: 100%;
    }

    .left-right-content {
        flex-direction: column;
        padding: 5px;
        /* width: fit-content; */
        /* width: 100%; */
    }

    .right-content {
        width: 100%;
        text-align: left;
    }



    .people-btns>button {
        width: 50%;
    }

    .customize-people {
        /* flex-direction: column; */
        display: inline;
        width: 100%;

    }

    .custDiv {
        display: block;
        width: 100%;

    }

    .btns>button {
        width: 20%;

    }

    /* 
    .custDiv>span {
        border: 1px solid red;
    } */

    /* .customize-container>.people-btn {} */

    .customize-people>.people-btn {

        width: 100%;
        margin-left: 10px;

    }

}




/* Media Query for medium devices (landscape tablets, 768px and up)   */

@media only screen and (min-width: 400px) and (max-width: 1024px) {
    .item-container {
        max-width: 100%;
    }

    .left-right-content {
        flex-direction: column;
        padding: 5px;
        /* width: fit-content; */
        /* width: 100%; */
    }

    .right-content {
        width: 100%;
        text-align: left;
    }



    .people-btns>button {
        width: 50%;
    }

    .customize-people {
        /* flex-direction: column; */
        display: inline;
        width: 100%;

    }

    .custDiv {
        display: block;
        width: 100%;

    }

    .btns>button {
        width: 20%;

    }



    /* .customize-container>.people-btn {} */

    .customize-people>.people-btn {

        width: 100%;
        margin-left: 10px;

    }
}